<!DOCTYPE html>

<!-- judul laaman --> 
{% block title %}
	<h1>My Simple Search Engine</h1>
{% endblock %}

<!-- isi laman -->
{% block content %}
	<!-- form upload dokumen -->
	<form method="post" enctype="multipart/form-data">
		<label for="upload">Upload dokumen (.txt):</label>
		<input type="file" name="upload" accept=".txt" required>
		<input type="submit">
	</form>
	<!-- form query -->
	<form method="post">
		<input name="query" placeholder="Masukkan query">
		<input type="submit">
	</form>
	<hr>
   <br>
   <!-- hyperlink ke laman perihal -->
   <li>
   	<a href="{{ perihalpage }}">Perihal</a>
   </li>
{% endblock %}